<html>
	<head>
		<title>My Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
		<div class="container-fluid">
			<div class="navbar-header" style="padding-left:50px;">
				<a href="/" class="navbar-brand">My Portfolio</a>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cn">
				<span class="navbar-toggler-icon">
			</button>
			<div class="collapse navbar-collapse" id="cn">
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item" style="padding-right:20px;"><a class="nav-link" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About Me</a></li>
					<li class="nav-item" style="padding-right:20px;"><a class="nav-link" href="#projects"><i class="fa fa-code" aria-hidden="true"></i> My Projects</a></li>
					<li class="nav-item" style="padding-right:20px;"><a class="nav-link" href="#foot"><i class="fa fa-mobile" aria-hidden="true"></i> Contact Me</a></li>
				</ul>
			</div>
		</div>	
	</nav>