<%- include('partials/header') -%>
	
	<div class="container">
		<div class="row">
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/a4.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>E-commerce Store</h4>
						<p>It is an E-Store with functionalities like login/signup pages, a person can only buy a product if he is logged in, a cart page where products can be added and removed, and many more. It is included with databases.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/E-commerce-Website">View on GitHub</a>
					</center>
					</div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/mobile.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>E-commerce Store</h4>
						<p>It is a Mobile E-Store with functionalities like login/signup pages, a person can only buy a product if he is logged in, a cart page where products can be added and removed, and many more. It is included with databases.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Smartphone-E-commerce-Website">View on GitHub</a>
					</center></div>
			</div>
		</div>
	</div>
	
<%- include('partials/footer') -%>