<%- include('partials/header') -%>
	
	<div class="container">
		<div class="row">
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/a4.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>E-commerce Store</h4>
						<p>It is an E-Store with functionalities like login/signup pages, a person can only buy a product if he is logged in, a cart page where products can be added and removed, and many more. It is included with databases.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/E-commerce-Website">View on GitHub</a>
					</center>
					</div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/mobile.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>E-commerce Store</h4>
						<p>It is a Mobile E-Store with functionalities like login/signup pages, a person can only buy a product if he is logged in, a cart page where products can be added and removed, and many more. It is included with databases.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Smartphone-E-commerce-Website">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/blog.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Blog Website</h4>
						<p>It is a blog website made using Node.js and MongoDB. When we compose a new post it is automatically displayed on the home page with a read more link. When read more is clicked, you are taken to the full blog post.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Blog-Website-V02">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/todo-v2.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>To-Do List App</h4>
						<p>It is a To-Do List maker app that lets you add new tasks to today's list or create a new list by just editing the url. For deletion of tasks a checkbox is provided. The data is stored on an online database.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://shrouded-island-82907.herokuapp.com/">Open App</a>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/To-Do-List-V02">View on GitHub</a>
					</center></div>
			</div>
		</div>
	</div>
	
<%- include('partials/footer') -%>