<%- include('partials/header') -%>
	
	<div class="container">
		<div class="row">
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/bmi.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>BMI Calculator</h4>
						<p>Enter your weight and height using standard or metric measures. Select "Get Value" and your BMI will appear.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/BMI-Calculator">View on GitHub</a>
					</center>
					</div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/dice.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Dice Game</h4>
						<p>It is a simple dice game. "Click Me" button will roll the two dice whoever gets the higher number wins.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Dice-Game">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/lc.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Love Calculator</h4>
						<p>Love Calculator as the name suggests will calculate the percentage of love between you and your partner.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Love-Calculator">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/puzzle.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Picture Puzzle Game</h4>
						<p>It is a 12 pieces picture puzzle game. Move the pieces and place them in order to win the game.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Picture-Puzzle-Game">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/race.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Racing Game</h4>
						<p>Easy to play car racing game. The speed of the game increases as points reach a certain mark.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Car-Game-Javascript">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/star.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Star Rating Pictures</h4>
						<p>Random pictures appear everytime you refresh the page. The stars can be used to rate the pictures.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Star-Rating-App">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/type.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Typing Speed Test</h4>
						<p>Test your typing speed in this Speed Test. After test is completed you are told your speed and correct words.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Typing-Speed-Test">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/todo.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>To-Do List</h4>
						<p>Add new tasks in the to-do list. After adding, the tasks can be checked off or deleted from the list.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/To-Do-List">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/weather.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Weather Forecaster</h4>
						<p>Forecast the weather of your current location. The temperature can be changed from C to F and vice versa.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Weather-Forecaster">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/RPS.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Rock, Paper and Scissors Game</h4>
						<p>A simple RPS Game in which you play against the computer. It also tracks the points of each player.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Rock-Paper-Scissors-Game">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/Tap.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Tap Music App</h4>
						<p>There are 6 buttons which when clicked will produce different sounds. It is made using HTML, CSS and Javascript.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Tap-Music-App">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/clock.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Analog Clock</h4>
						<p>It is a simple analog clock built using HTML, CSS, Javascript.<br><br><br></p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Analog-Clock-Javascript">View on GitHub</a>
					</center></div>
			</div>
		</div>
	</div>
	
<%- include('partials/footer') -%>