<%- include('partials/header') -%>
	
	<div class="container">
		<div class="row">
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/np.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Notepad</h4>
						<p>A fully functional NotePad like application made in JAVA with the use of Swing. Can perform most of the NotePad's operations.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Notepad">View on GitHub</a>
					</center>
					</div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/library.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>Library Management System</h4>
						<p>Uses JAVA Swing and JDBC to manage Librarians and Books in a Library. Contains Admin and Librarian Section.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/Library-Management-System">View on GitHub</a>
					</center></div>
			</div>
			<div class="col-md-4 buffer">
					<div class="col-md-12 img-thumbnail">
					<img src="images/kbc.jpg" alt="" class="img-fluid">
					<center class="contentt">
						<h4>KBC Game</h4>
						<p>It is a G.K. Quiz game based on the popular show by the same name. It is included with all the sound effects and elements present in the show.</p>
						<a type="button" class="btn btn-primary btn-block text-light" href="https://github.com/Jatin11499/The-KBC-Game">View on GitHub</a>
					</center></div>
			</div>
		</div>
	</div>
	
<%- include('partials/footer') -%>